.filtro {
  margin-bottom: 4em;
}

.filtro-input,
.filtro-button {
  font-size: 18px;
  margin: 5px;
  border-radius: 10px;
  border: 1px #fcfcfcce solid;
  padding: 3px;
}

.filtro-button:active {
  transform: scale(0.8);
}

@font-face {
  font-family: title;
  src: url("../assets/fonts/Mackenzin.otf");
}

.titulo__fondo {
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.titulo {
  height: 180px;
  width: 37em;
}

.isotipo {
  object-fit: contain;
  transform: scale(0.7);
  margin-left: -15em;
  margin-top: -27em;
}

@media screen and (max-width: 700px) {
  .titulo {
    height: 5em;
    width: 55%;
  }

  .isotipo {
    transform: scale(38%);
    margin-top: -31em;
    margin-left: -26em;
  }
}
