.filtro {
  margin-bottom: 4em;
}

.filtro-input,
.filtro-button {
  font-size: 18px;
  margin: 5px;
  border-radius: 10px;
  border: 1px #fcfcfcce solid;
  padding: 3px;
}

@font-face {
  font-family: title;
  src: url("../assets/fonts/Mackenzin.otf");
}

.title {
  /* font-family: cursive; */
  /* font-family: "Times New Roman", Times, serif; */
  font-family: title;
}
